
@{
    ViewBag.Title = "About";
}

<style>
    .main {
        background-image: url(../../images/image1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
    }
    </style>
<body class="main">
    <h2>About</h2>
    <h4>WHO WE ARE?</h4>

    <p>
        M&N Groups is a leading Real Estate Company in India.
        We make your dreams come true..
    </p>
</body>
