
@model IEnumerable<RealEstate.Models.PropertySearch>

@using RealEstate.Extensions

@using (Html.BeginForm("Description", "RealEstate"))
{
    <table class="table">
        <tr>
            @foreach (var item in Model)
            {
                <td>
                    @Html.Image(item.path, "alt", "220", "280")
                    <div>
                        @Html.DisplayFor(modelItem => item.location)<br />
                        @Html.DisplayFor(modelItem => item.type)<br>
                        Rs. @Html.DisplayFor(modelItem => item.price)<br />
                        <button type="submit" class="btn btn-default"> VIEW </button>
                    </div>
                </td>

            }
        </tr>
    </table>
}

